*.pyc
.idea/workspace.xml
**/.idea/workspace.xml
*.pdf
.project
.vscode
!images*
!.gitignore
.bashrc
.env
.editorconfig

*.db
*.sql
.DS_Store
.idea

assets
celerybeat-schedule
media

*.swp
*.swo

*.pid
